<div ng-controller="homeController as vm">
    <div layout="column">
        <uif-textfield uif-label="Files from" type="email" ng-model="vm.email" placeholder="who@sentfiles.net"></uif-textfield>
        <uif-button uif-type="primary" ng-disabled="vm.loading" ng-click="vm.loadData()">
            Get files
        </uif-button>
    </div>
    <div layout="row" layout-align="space-around">
        <uif-spinner ng-show="vm.loading" md-mode="indeterminate"></uif-spinner>
    </div>
    <div layout="row">
        <uif-button ng-repeat="file in vm.dataObject" ng-click="vm.view(file.emailId, file.id, file.name)" ng-bind="file.name">
        </uif-button>
    </div>
    <div ng-if="vm.previewImage" layout="row">
        <div>
            <img src="{{vm.previewImage}}" style="max-height: 700px;" />
        </div>
        <uif-button class="md-primary md-raised"  ng-disabled="vm.loading" ng-click="vm.upload()">
            Save to SharePoint
        </uif-button>
    </div>
    <pre>{{vm.dataObject | json}}</pre>
</div>